node_modules
prisma/*.db
back/package-lock.json
back/coverage
back/prisma/migrations/migration_lock.toml
back/prisma/dev.db
front/package-lock.json
dist
.idea
.vscode
.DS_STORE
front/pnpm-lock.yaml
back/prisma/migrations/20250220124618_create_all_tables/migration.sql
